extends layout

block content
            form#validate
                .form-group
                    label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
                button.btn.btn-default(type='submit') Submit




